<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zc.mybatis.dao.MemberMsgMapper">

    <delete id="deleteMemberMsgByConsulatationId">
        delete from alq_member_msg where type=#{types}  and member_base_id=#{memberId} and consulatation_id=#{Id}
    </delete>
    <delete id="deleteMemberMsgBycontentId">
        delete from alq_member_msg where type=#{type}  and member_base_id=#{mId} and consulatation_comment_id=#{commentid}

    </delete>
</mapper>