<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mybatis.dao.CollectionContentMapper">
    <!--得到当前用户的收藏-->
    <select id="getMyCollentent" resultType="map" parameterType="map">
        SELECT
			consultation_id
		FROM
			alq_collection_consultation
		WHERE
			member_id = #{id}
		AND type = 0
		ORDER BY
			created_time DESC
	    LIMIT #{startIndex},#{endIndex}
    </select>
	<select id="findOne" parameterType="java.lang.Long" resultType="com.zc.main.entity.collectionconsultation.CollectionConsultation">
		SELECT * from alq_collection_consultation where consultation_id=#{consulationId}
	</select>

	<select id="getCollectionByMemberIdAndConsultationId" resultType="com.zc.main.entity.collectionconsultation.CollectionConsultation">
		SELECT
			*
		FROM
			alq_collection_consultation
		WHERE
			consultation_id = #{consultationId} AND member_id = #{memberId}
		LIMIT 1
	</select>
</mapper>
