<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zc.mybatis.dao.ConsultationMapper">
	<!--添加资讯-->
	<insert id="save" parameterType="com.zc.main.entity.consultation.Consultation">
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT into alq_consultation (detail_summary,topic_type,model_type,
		consulatation_id,type,is_delete,member_id,title,status,author_info)
		VALUE (#{detailSummary},#{topicType},#{modelType},#{consultationId},
		#{type},#{isDelete},#{memberId},#{title},#{status},#{authorInfo})

	</insert>
	<update id="updateByType1" parameterType="Long">
		UPDATE alq_consultation SET is_delete =1 WHERE consulatation_id = #{cid}
	</update>

	<update id="updateByType" parameterType="Long">
		UPDATE alq_consultation set type = 1 where id=#{id}
	</update>
	<!--根据资讯id获取资讯信息-->
	<select id="getOne"  parameterType="Long" resultType="com.zc.main.entity.consultation.Consultation">
		SELECT id,member_id AS memberId,num,comment_num as commentNum,fabulous_num as fabulousNum,
		 is_delete as isDelete,share_num as shareNum,consulatation_id as consulatation_id,
		  collect_num as collectNum,type,model_type as modelType,topic_type as topicType from alq_consultation where id = #{id}
	</select>
	<!--  APP首页根据关键词搜索 -->
	<select id="findconsultationinfo" resultType="map" parameterType="map">
		SELECT c.id AS id,c.title AS title,c.type AS type,IFNULL(c.model_type,0) AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
				IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,IFNULL(c.detail_summary,"") AS detailSummary, c.created_time AS createdTime
				,IFNULL(c.fabulous_num,0)as favourNum           <!-- 点赞的总数 -->
		FROM alq_consultation AS c,alq_member AS m
		<include refid="where_sql"></include>
		ORDER BY IFNULL(c.top,0) DESC,c.created_time DESC  LIMIT #{startIndex},#{endIndex}
	</select>

	<sql id="where_sql">
		<where>
			c.member_id=m.id AND c.status=2 AND ( c.is_delete=0 OR c.is_delete is null) AND c.consulatation_id is null AND IFNULL(c.result,0)=0
			<if test="checktype ==1 ">
				AND  c.type != 5 
			</if>
			<if test="checktype ==2 ">
				AND  c.type = 6
			</if>
		</where>
	</sql>



	<!-- <select id="getConsultationById" resultType="Map" >
		SELECT c.id AS id,c.title AS title,c.model_type AS modelType,c.comment_num AS commentNum,
		c.fabulous_num AS fabulousNum,DATE_FORMAT(c.created_time,'%Y-%m-%d %H:%i:%s') createdTime ,
		c.rejection_reason rejectionReason,c.status,c.is_delete,c.type,c.consulatation_id pid,
		c.member_id mid FROM  alq_consultation c WHERE c.is_delete = 0 AND c.id = #{uid,jdbcType=BIGINT}
	</select> -->
	<!-- @wudi添加一个nickname -->
	<select id="getConsultationById" resultType="Map" >
		SELECT c.id AS id,c.title AS title,c.model_type AS modelType,c.comment_num AS commentNum,
		IFNULL(c.fabulous_num,0) AS fabulousNum,IFNULL(c.fabulous_num,0) AS favourNum,c.created_time as createdTime ,c.collect_num as collectNum,
		c.rejection_reason rejectionReason,c.status,c.is_delete,c.type,c.consulatation_id pid,
		c.member_id mid,m.nickname as authorInfo ,m.nickname as nickname,DATE_FORMAT(c.created_time,'%Y/%m/%d %H:%i:%s') date,IFNULL(c.num ,0)as num
		 FROM  alq_consultation c LEFT JOIN alq_member as m on m.id = c.member_id 
		 WHERE ifnull(c.is_delete,0) = 0 AND c.id = #{uid,jdbcType=BIGINT}
	</select>

	<!--  发布管理，资讯搜索 -->
	<select id="findConsultationAll" resultType="map" parameterType="map">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,c.comment_num AS commentNum,
		IFNULL(c.fabulous_num,0) AS fabulousNum,IFNULL(c.fabulous_num,0) AS favourNum,c.created_time AS createdTime,c.`status` AS status
		FROM alq_consultation AS c
		<include refid="where_sql_all"></include>
		ORDER BY c.created_time DESC LIMIT #{startIndex},#{endIndex}
	</select>


	<sql id="where_sql_all">
		<where>
			c.member_id=#{id} AND ( c.is_delete=0 OR c.is_delete is null)
			<if test="info != null and info !='' ">
				AND c.title like concat('%',#{info},'%')
			</if>
			<if test="status !='' ">
				AND c.status=#{status}
			</if>
		</where>
	</sql>


	<select id="getConsultationByPhone" resultType="Map"  parameterType="map">
		SELECT * FROM alq_member WHERE phone=#{phone} AND uuid=#{uuid}
	</select>

	<select id="findHasConsultationById" resultType="int" parameterType="java.lang.Long" >
		SELECT count(*) FROM  alq_consultation c WHERE c.id = #{consultationid} AND c.is_delete=0
	</select>

	<!--  根据访谈或口述的id查询其子类 -->
	<select id="findConsultationChidById" resultType="map" parameterType="java.lang.Long">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
		IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,c.detail_summary AS detailSummary, c.created_time AS createdTime
		,IFNULL(c.fabulous_num,0) as favourNum
		FROM alq_consultation AS c,alq_member AS m
		WHERE c.member_id=m.id AND c.status=2 AND ( c.is_delete=0 OR c.is_delete is null) AND c.consulatation_id =#{id}
		ORDER BY IFNULL(c.top,0) DESC,c.created_time DESC  
	</select>

	<!--  APP求助  内容根据关键词搜索 -->
	<select id="findConsultationInfoHelp" resultType="map" parameterType="map">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
		IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,c.detail_summary AS detailSummary, c.created_time AS createdTime
		, IFNULL(c.fabulous_num,0)as favourNum
		FROM alq_consultation AS c,alq_member AS m
		WHERE c.member_id=m.id AND c.status=2 AND ( c.is_delete=0 OR c.is_delete is null) AND c.type =4 AND IFNULL(c.result,0)=0
		ORDER BY IFNULL(c.top,0) DESC,c.created_time DESC  LIMIT #{startIndex},#{endIndex}
	</select>

	<!--  APP民间高手    内容根据关键词搜索 -->
	<select id="findConsultationInfoPeople" resultType="map" parameterType="map">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
		IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,IFNULL(c.num,0) AS num,c.detail_summary AS detailSummary, c.created_time AS createdTime
		,IFNULL(c.fabulous_num,0)as favourNum
		FROM alq_consultation AS c,alq_member AS m
		<include refid="where_sql_people"></include>
		ORDER BY IFNULL(c.top,0) DESC,c.created_time DESC  LIMIT #{startIndex},#{endIndex}
	</select>

	<sql id="where_sql_people">
		<where>
			c.member_id=m.id AND c.status=2 AND ( c.is_delete=0 OR c.is_delete is null) AND c.consulatation_id is null  AND IFNULL(c.result,0)=0 
			<if test="checktype ==1 ">
				AND  c.type = 0
			</if>
			<if test="checktype ==2 ">
				AND  c.type = 2
			</if>
		</where>
	</sql>

	<!--个人中心  我的发布  根据用户id查询所有类型信息 -->
	<select id="findConsultationAllByMember" resultType="map" parameterType="map">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
			   IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,c.detail_summary AS detailSummary,c.status AS status, c.created_time AS createdTime
		 ,IFNULL(c.fabulous_num,0) as favourNum 
		FROM alq_consultation AS c,alq_member AS m
		<include refid="where_sql_type_member"></include> 
		ORDER BY c.created_time DESC  LIMIT #{startIndex},#{endIndex}
	</select>
	<!-- 0是访谈主题  1访谈内容 2口述主题  3口述内容 4求助 5回答  6分享 -->
	<sql id="where_sql_type_member">
    	<where>  
    		 c.member_id=m.id AND c.consulatation_id is null AND ( c.is_delete=0 OR c.is_delete is null) AND c.member_id=#{memberId}
    		<if test="checktype ==1 ">
				AND  c.type = 0
			</if> 
			<if test="checktype ==2 ">
				AND  c.type = 2
			</if>
			<if test="checktype ==3 ">
				AND  c.type = 4
			</if>
			<if test="checktype ==4 ">
				AND  c.type = 6
			</if> 
	        
   		</where> 
	</sql>
<!--  访谈详情页   根据用户id查询所有类型信息 -->
	<select id="findConsultationAllByTouxiang" resultType="map" parameterType="map">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
			   IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,c.detail_summary AS detailSummary,c.created_time AS createdTime
		,IFNULL(c.fabulous_num,0)as favourNum
		FROM alq_consultation AS c,alq_member AS m
		<include refid="where_sql_type_touxiang"></include> 
		ORDER BY IFNULL(c.top,0) DESC,c.created_time DESC  LIMIT #{startIndex},#{endIndex}
	</select>
	<!-- 0是访谈主题  1访谈内容 2口述主题  3口述内容 4求助 5回答  6分享 -->
	<sql id="where_sql_type_touxiang">
    	<where>  
    		  c.member_id=m.id AND c.`status`=2 AND ( c.is_delete=0 OR c.is_delete is null) AND c.consulatation_id is null AND c.member_id=#{memberId}
    		<if test="checktype ==1 ">
				AND  c.type = 0 AND c.consulatation_id is null 
			</if> 
			<if test="checktype ==2 ">
				AND  c.type = 2 AND c.consulatation_id is null 
			</if>
			<if test="checktype ==3 ">
				AND  c.type = 4
			</if>
			<if test="checktype ==4 ">
				AND  c.type = 6
			</if> 
	        
   		</where> 
	</sql>

	
	<!-- 用户个人中心   我的发布    根据访谈或口述的id查询其子类 -->
	<select id="findConsultationChidByIdByMember" resultType="map" parameterType="java.lang.Long">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
			   IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,c.detail_summary AS detailSummary, c.status AS status, c.created_time AS createdTime
		 ,IFNULL(c.fabulous_num,0) as favourNum 
		FROM alq_consultation AS c,alq_member AS m
		WHERE c.member_id=m.id AND ( c.is_delete=0 OR c.is_delete is null) AND c.consulatation_id =#{id} 
		ORDER BY c.created_time DESC 
	</select>
	
	<select id="findConsultationByIdAll" resultType="map" parameterType="java.lang.Long">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
			   IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,c.detail_summary AS detailSummary, c.created_time AS createdTime
		 ,IFNULL(c.fabulous_num,0) as favourNum 
		FROM alq_consultation AS c,alq_member AS m
		WHERE c.member_id=m.id AND c.`status`=2 AND ( c.is_delete=0 OR c.is_delete is null) AND c.consulatation_id =#{typeId} 
		ORDER BY IFNULL(c.top,0) DESC,c.created_time DESC 
	</select>
	
	<select id="findConsultationAllByFive" resultType="map" parameterType="map">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
			   IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,c.detail_summary AS detailSummary, c.created_time AS createdTime
		 ,IFNULL(c.fabulous_num,0) as favourNum 
		FROM alq_consultation AS c,alq_member AS m	 WHERE c.member_id=m.id AND c.`status`=2 AND ( c.is_delete=0 OR c.is_delete is null) AND c.consulatation_id =#{typeId} AND c.id NOT IN (#{id1},#{id2},#{id3})
		ORDER BY IFNULL(c.top,0) DESC,c.created_time DESC LIMIT #{startIndex},#{endIndex}
     </select>


	<!--条件获取咨询信息-->
	<select id="getConsultationByMap" parameterType="Map" resultType="Map">
		SELECT  c.id,c.type,c.title,c.status,c.detail_summary descr,c.consulatation_id pid,
		c.model_type,ifnull(c.collect_num,0) collect_num,c.topic_type,ifnull(c.fabulous_num,0)fabulous_num ,
		ifnull(c.num,0) num, ifnull(c.comment_num,0) comment_num,
		c.member_id mid,(select m.user_type from alq_member m where m.id=c.member_id) user_type,
		(select ifnull(m.nickname,INSERT((m.phone),4,4,'****')) from alq_member m where m.id=c.member_id) author_info,
		<if test="mid !=null">
			ifnull((select f.type from alq_consultation_fabulous f where f.consultation_id=c.id and f.member_id=#{mid} ),2) flag,
		</if>
		<if test="mid ==null">
			2 flag,
		</if>
		<if test="mid==null">
			0 follow,
		</if>
		<if test="mid != null ">
			(select count(1) from alq_member_follow w where w.member_id=c.member_id and   ifnull(is_delete,0)=0 and w.member_following_id = #{mid} )   follow,
		</if>

		<if test="mid==null">
			1 collect,
		</if>
		<if test="mid != null ">
			ifnull((select cc.type from alq_collection_consultation cc where cc.consultation_id=c.id and cc.member_id = #{mid}),1)  collect,
		</if>

		CASE WHEN DATE_FORMAT(NOW(),'%Y/%m/%d')= DATE_FORMAT(c.created_time,'%Y/%m/%d')
		THEN DATE_FORMAT(c.created_time,'%H:%i')
		ELSE DATE_FORMAT(c.created_time,'%Y/%m/%d')
		END createdTime,
		(SELECT mt.address FROM alq_member m,alq_attachment mt WHERE m.logo_attachment_id=mt.id AND m.id=c.member_id) photo
         ,IFNULL(c.fabulous_num,0) as favourNum 
        FROM alq_consultation c,alq_member me where ifnull(c.is_delete,0) = 0 and c.member_id=me.id

		<if test="id != null">
			AND c.id = #{id}
		</if>

        <if test="status != null">
			AND c.status = #{status}
		</if>

		<if test="memberId != null">
			AND c.member_id = #{memberId}
		</if>

		<if test="pid != null ">
            AND c.consulatation_id = #{pid}
		</if>

		<if test="type != null">
			AND c.type = #{type}
		</if>

		order by c.created_time desc

		<if test="page != null and size !=null ">
			limit #{page} ,#{size}
		</if>

	</select>
	
	<!--  APP首页搜索接口分词查询结果  -->
	<select id="searchConsultationByInfoList" resultType="map" parameterType="map">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
		IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,c.detail_summary AS detailSummary, c.created_time AS createdTime
         ,IFNULL(c.fabulous_num,0) as favourNum 
		FROM alq_consultation AS c,alq_member AS m
		<include refid="where_sql_search_list"></include>
		  ORDER BY IFNULL(c.top,0) DESC,c.power,c.created_time DESC LIMIT #{startIndex},#{endIndex} 
	</select>

	<sql id="where_sql_search_list"><!-- checktype  1精选(全部) 2口述  3分享   4求助   5访谈 ORDER BY IFNULL(c.top,0) DESC,c.created_time DESC  -->
		<where>
			c.member_id=m.id AND c.status=2 AND ( c.is_delete=0 OR c.is_delete is null) AND c.consulatation_id is null AND IFNULL(c.result,0)=0
			<if test="checktype ==1 ">
				AND  c.type != 5 
			</if>
			<if test="checktype ==2 ">
				AND  c.type = 2
			</if>
			<if test="checktype ==3 ">
				AND  c.type = 6
			</if>
			<if test="checktype ==4 ">
				AND  c.type = 4
			</if>
			<if test="checktype ==5 ">
				AND  c.type = 0 
			</if>
			<if test="info != null and info !='' ">
				AND
				<foreach collection="info" index="" item="info1" open="(" separator="or" close=")">
            		c.title like concat('%',#{info1},'%')
  				</foreach> 
			</if>
		</where>
	</sql>
	
	
	<!--  APP首页搜索接口  -->
	<select id="searchConsultationInfo" resultType="map" parameterType="map">
		SELECT c.id AS id,c.title AS title,c.type AS type,c.model_type AS modelType,IFNULL(c.num,0) AS num,IFNULL(m.nickname,INSERT((m.phone),4,4,'****')) AS authorInfo,
		IFNULL(c.collect_num,0) AS collectNum,IFNULL(c.comment_num,0) AS commentNum,c.detail_summary AS detailSummary, c.created_time AS createdTime
         ,IFNULL(c.fabulous_num,0) as favourNum 
		FROM alq_consultation AS c,alq_member AS m
		<include refid="where_sql_search"></include>
		ORDER BY IFNULL(c.top,0) DESC,c.created_time DESC  LIMIT #{startIndex},#{endIndex}
	</select>

	<sql id="where_sql_search"><!-- checktype  1精选(全部) 2口述  3分享   4求助   5访谈   -->
		<where>
			c.member_id=m.id AND c.status=2 AND ( c.is_delete=0 OR c.is_delete is null) AND c.consulatation_id is null AND IFNULL(c.result,0)=0
			<if test="checktype ==1 ">
				AND  c.type != 5 
			</if>
			<if test="checktype ==2 ">
				AND  c.type = 2
			</if>
			<if test="checktype ==3 ">
				AND  c.type = 6
			</if>
			<if test="checktype ==4 ">
				AND  c.type = 4
			</if>
			<if test="checktype ==5 ">
				AND  c.type = 0 
			</if>
			<if test="info != null and info !='' ">
				AND  c.title like concat('%',#{info},'%')
			</if>
		</where>
	</sql>
	
	
	
	
	
	
	
	
	<select id="getCountById" resultType="Integer" parameterType="Long">
		SELECT COUNT(*) FROM alq_consultation AS c WHERE c.consulatation_id=#{id} AND c.status=2 AND IFNULL(c.is_delete,0)=0
	</select>
	<!-- 通过收藏ID获取收藏列表的资讯 -->
	<select id="getConsulationIdList" parameterType="Map" resultType="Map">
		select con.consultation_id as cid,                                         <!-- 资讯id -->
		IFNULL(
		(select cn.consulatation_id  from alq_consultation as cn 
		
		where cn.id= con.consultation_id and cn.is_delete !=1),null
		
		) as pid                                                                    <!-- 父类中的资讯id -->
		from alq_collection_consultation AS con 
		
		where type=0 and con.member_id =#{id} order by con.update_time
		 DESC LIMIT #{startIndex},#{endIndex}
	
	</select>
	
	<select id="getConsulationByIdaaa" parameterType="Long" resultType="Map">
		select type,member_id as memberId from alq_consultation where id = #{id}
	
	</select>
</mapper>